.vs/PTimex/v15/Server/sqlite3/storage.ide-wal
.vs/PTimex/v15/Server/sqlite3/storage.ide-shm
.vs/PTimex/v15/Server/sqlite3/storage.ide
.vs/PTimex/v15/Server/sqlite3/db.lock
packages/EntityFramework.6.2.0/tools/EntityFramework.PowerShell.Utility.dll
